.about-me {
    height: 80vh;
    margin: 10px 0;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me__header {
    font-size: 30px;
    margin: 10px 0;
}

.about-me__body {
    margin-top: 10px;
    font-size: 20px;
}

.about-me__text {
    height: 100%;
}

.footer {
    font-size: 30px;
}

.skills-container {
}

.format-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}