.about-me {
    margin: 100px 0;
    padding: 15px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 500px;
    text-align: center;
}

.about-me-container {

}

.about-me__header {
    font-size: 30px;
    margin: 10px 0;
}

.particles {
    background: black;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 85px;
    height: 800px;
}

.footer {
    font-size: 30px;
    padding: 0 30px;
    margin-top: 40px;
    height: 90px;
    padding-top: 30px;
    color: #703d57;
}

.skills-box{
    height: 30%;
}

#zombie {
    position: relative;
    top: -15vh;
    left: 258vh;
    animation: zombie 15s;
    -moz-animation: zombie 15s;
    -webkit-animation: zombie 15s;
    transition: all ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes zombie {
    from {right: 0;}
    to {left: 0;}
}

@-moz-keyframes zombie {
    from {right: 0;}
    to {left: 0;}
}

@media (max-width: 500px) {
    .about-me {
        padding: 10px 10px;
        min-height: 300px;
        margin: 0 0;
        margin-top: 50px;
    }

    .particles {
        max-height: 400px;
    }

    .about-me__header {
        font-size: 21px;
        margin: 10px 0;
        text-align: left;
    }
    
    .about-me__body {
       display: none;
    }

    .footer {
        padding: 0 2px;
        font-size: 21px;
        height: 60px;
    }
}