.about-me {
    background: purple;
    height: 400px;
    width: 95%;
    margin: 10px 0;
    padding: 15px 15px;

}

.about-me__header {
    font-size: 30px;
}

.about-me__body {
    display: flex;
    justify-content: space-between;
    padding: 0 500px;
}

.about-me__text {
    height: 100%;
}