body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard-container {
  margin-top: 0px;
}

* {
  box-sizing: border-box;
}
