.contact {
    background: lightgrey;
    height: 200px;
    padding: 15px 30px;
    margin-top: 15px;
}

.contact__header{
    font-size: 30px;
    margin-left: 15px;
}

.contact__text {
    margin-left: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    font-size: 100;
}