.contact {
    background: lightgrey;
    padding: 15px 30px;
    margin-top: 15px;
}

.contact__header{
    font-size: 30px;
    margin-left: 15px;
}

.contact__text {
    margin: 10px 15px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    margin-top: 5px;
} 

