.header {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__main {
    margin-left: 15px;
    font-size: 30px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-size: 20px;
}

.empty-div {
    height: 1px;
    background: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.image-container {
    margin-top: 5px;
}