.carousel.carousel-slider {
    border-radius: 10px
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
}

.project-container {
    display: flex;
    margin: 15px 25px;
}

.carousel-container {
    width: 500px
}

.right {
    margin: auto
}

@media (max-width: 500px) {
    .carousel-container {
        width: 100%;
    }
    
}
