.project-container {
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.project-image {
    border-radius: 20px;
    margin: 10px 0;
}

.project-container--multi {
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    text-align: center;
}

.project-header {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.project-desc {
    margin: 25px 0;
}


@media (max-width: 1200px) {
    .project-container--multi {
        justify-content: space-evenly;
    }
    
}
