.skills-icons {
    font-size: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills-container {
    margin-left: 50px;
    padding: 20px 20px;
    font-size: 25px;
    border-radius: 25px;
    margin-bottom: 73px;
    margin: auto;
}

.container {
    position: relative;
    margin-bottom: 20px;
}


a {
    text-decoration: none;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}


@media (max-width: 500px) {
    .skills-icons {
        font-size: 50px;
    }
}